@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Mukta', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 15px; 
}

.container-lg {
    margin: 0 auto;
    max-width: 1024px;
}

.container-sm {
    margin: 0 auto;
    max-width: 900px;
}

a {
    text-decoration: none;
    color: currentColor;
}

.ul {
    list-style: none;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8); 
}

.col-12 {
    width: 100%;
}

.row [class^="col-"] {
    float: left;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.button {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 5px 10px;
    border: 1px solid black;
}

.lilac-button {
    background-color: #7983F5;
}

.black-button {
    background-color: black;
    color: white;
}

    /*  HEADER */

header .row#nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1024px;
    color: white;
}

header .row#nav [class^="col"] {
    float: left;
}

header .col.img, header .col.login {
    width: 125px;
}

header .col.menu-nav {
    width: calc(100% - 125px - 125px);
}

/* menu nav */
header .menu-nav > ul {
    text-align: center;
    padding: 0 50px;
}

header .menu-nav > ul li {
    display: inline-block;
    padding: 5px 10px;
    line-height: 30px;
    vertical-align: middle;
} 

/* tasto accedi */
header .login {
    padding: 5px;
    line-height: 33px;
    vertical-align: middle;
    text-align: center;
}

header .col.login a {
    color: black;
}

    /* MAIN */

/* jumbo section */
main #jumbo {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url("img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main #jumbo #title {
    font-size: 60px;
}

main #jumbo #jumbo-desc {
    font-size: 20px;
    padding: 10px 100px 30px;
}

/* sezioni */
.row [class^="col-"] {
    float: left;
}

.content .row {
    padding-top: 120px;
    padding-bottom: 100px;
}

.content .content-title {
    font-size: 40px;
    padding: 7px;
}

.content .content-desc {
    font-size: 20px;
    padding: 7px;
}

.content .container-sm .col-12 {
    text-align: center;
}

.content .container-sm .col-12 > .title-cta {
    font-size: 29px;
}

    /* FOOTER */

footer {
    background-color: #23272A;
    color: white;
}



/* DEBUG */
.debug header .container-lg > .row {
    /* border: 2px solid black; */
    /* background-color: bisque; */
}

/* .debug header .col.img {
    border: 1px solid black;
}

.debug header .col.menu-nav {
    border: 1px solid black;
}

.debug header .col.login {
    border: 1px solid black;
} */

/* .debug main #jumbo {
    border: 1px solid red;
}

.debug .content .content-title {
    border: 1px solid navy;
}

.debug .content .content-desc {
    border: 1px solid orange;
}

.debug .content .content-img {
    border: 1px solid green;
}

.debug .content {
    border: 1px solid slateblue;
} */

.debug .content .row {
    /* border: 1px solid yellowgreen; */
}