@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-size: 15px; 
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

a {
    text-decoration: none;
    color: currentColor;
}

    /*  HEADER */

header .row#nav {
    position: fixed;
    top: 0;
    width: 80%;
    color: white;
}

header .row#nav [class^="col"] {
    float: left;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

header .col.img, header .col.login {
    width: 125px;
}

header .col.menu-nav {
    width: calc(100% - 125px - 125px);
}

/* STILE MENU NAV */
header .menu-nav > ul {
    text-align: center;
    padding: 0 50px;
}

header .menu-nav > ul li {
    display: inline-block;
    padding: 5px 10px;
    line-height: 30px;
    vertical-align: middle;
} 

/* Tasto accedi */
header .login {
    padding: 5px;
    line-height: 33px;
    vertical-align: middle;
    text-align: center;
}

.button {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 5px 10px;
    border: 1px solid black;
}

header .col.login a {
    color: black;
}

    /* MAIN */
/* jumbo section */
main #jumbo {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 60px;
    background-image: url("img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main #jumbo #title {
    font-size: 60px;
}

main #jumbo #jumbo-desc {
    font-size: 20px;
    padding: 15px 100px;
}


/* DEBUG */
.debug header .container > .row {
    /* border: 2px solid black; */
    /* background-color: bisque; */
}

/* .debug header .col.img {
    border: 1px solid black;
}

.debug header .col.menu-nav {
    border: 1px solid black;
}

.debug header .col.login {
    border: 1px solid black;
} */

/* .debug main #jumbo {
    border: 1px solid red;
} */